body{
    margin:0px;
    padding:0px;
    background-color:blanchedalmond;
}




nav{

    width:100%;
    height:60px;
    border:3px;
    border-color:white ;
    border-style:solid;
    background-color:skyblue;
    box-sizing:border-box;
    
}
#image{
    width:100px;
    height:60px;
    background-color:skyblue;
    border:2px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    
}
#travel{
    float:right;
    font-size:40px;
    color:white;
    margin-bottom:5px; 
    margin-top:0px;
    margin-right:450px;
    text-transform: uppercase;
    letter-spacing:3px;
    font-family:cursive;
    
}
div{
    box-sizing:border-box;
}




#menu{
    padding:0px;
    margin:0px;
    width:100%;
    height:50px;
    background-color:black;
    margin:0px;
    box-sizing:border-box;

}
#brand{
    background-color:white;
    text-align:center;
    color:white;
    font-size:30px;
    font-family:sans-serif;
    background-color:black;
    font-style:bold;
    margin-top:50px;
    
}
a{
    text-decoration:none;
    color:white;
    
}
#brand:hover{
background-color:burlywood;
border-radius:50px;
transition:0.5s;
}
#brand:hover a{
    color:red;
    font-size:40px;
    transition:1s;
}
.banner{
    
     background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    height:400px;
    margin:10px;
    border-width:10px;
    border-style:solid;
    border-color:black;
    animation:stp 5s infinite;
    position:relative;
}
@keyframes stp{
    0%{background-image:url(images/massourie.jpg);background-size:100% 100%;}
    25%{background-image:url(images/canada.jpg);background-size:100% 100%;}
    50%{background-image:url(images/asia.jpg);background-size:100% 100%;}
    75%{background-image:url(images/Taj-Mahal.jpg);background-size:100% 100%;}
    100%{background-image:url(images/P4.jpg);background-size:100% 100%;}
}
#a{
    width:32%;
    height:200px;
    float:left;
    margin:5px;
    border-width:5px;
    border-color:black;
    border-style:solid;
   
}
.zoom-in{
    transform:scale(1);
    transition:0.1s;

}
.zoom-in:hover{
    transform:scale(1.1);
    transition:0.1s;

}
#home{
    padding:0x;
    margin:0px;
    text-align:center;
    font-size:30px;
}
#destinations .destination,#packages .package{
    display:inline-block;
    width:30%;
    
    margin:10px;
    background-color: #fff;
    box-shadow:0 0 10px;
    padding:20px;
    display:inline-block;
    width:30%;
    
    margin:10px;
    background-color: #fff;
    box-shadow:0 0 10px;
    padding:20px;
}
#destinations .destination img,#packages .package img{
    width:100%;
    height:200px;;
}
#aaa{
    color:#333;
}
#p{
    color:#666;
    line-height:1.6;
}
#abc{
    width:100%;
    height:100px;
    border:3px;
    border-color:black ;
    border-style:solid;
    background-color:black;
    box-sizing:border-box;

 }
 footer{
    width:100%;
    height:60px;
    border:3px;
    border-color:black;
    border-style:solid;
    background-color:black;
    box-sizing:border-box;

 }
 #h2{
    text-align:center;
    color:white;
 }

.a{
    text-align:center;
    color:white;
    
}